{% include "/public/header.html" %}
<h1>{{res.h1}}</h1>
<hr class="layui-border-blue">
<div class="layui-tab layui-tab-card" lay-filter="test-hash">
    <ul class="layui-tab-title">
        <li class="layui-this" lay-id="添加任务">① 添加任务</li>
        <li lay-id="查看结果">② 查看结果</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form">
                {% include 'public/tool_path.html' %}
                {% include 'public/target+help_documents.html' %}
                {% include 'public/shell_template.html' %}
                {% include 'public/button_group_new.html' %}
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">配置文件</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <textarea name="config_file" id="config_file" placeholder="" rows="10"
                                class="layui-textarea">{{res.config_file_content}}</textarea>
                            <div class="layui-form-mid layui-word-aux">
                                配置文件到这儿改
                                <button type="button" class="layui-btn layui-btn-primary layui-border layui-border-green  layui-btn-primary layui-btn-sm"
                                    lay-submit lay-filter="save_config_file">
                                    点击保存
                                </button>
                            </div>
                        </div>

                        <label class="layui-form-label">自定义字典</label>
                        <div class="layui-input-inline" style="width: 800px;">
                            <textarea name="diy_dict" id="diy_dict" placeholder="" rows="10"
                                class="layui-textarea">{{res.diy_dict_file_content}}</textarea>
                            <div class="layui-form-mid layui-word-aux">
                                自定义字典写这儿保存，自带去重功能
                                <button type="button" class="layui-btn layui-btn-primary layui-border layui-border-green  layui-btn-primary layui-btn-sm"
                                    lay-submit lay-filter="save_diy_dict">
                                    点击保存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>



            </form>
            <script>
                layui.use(function () {
                    var $ = layui.$;
                    var form = layui.form;
                    var layer = layui.layer;

                    // 插件列表保存按钮
                    form.on('submit(save_config_file)', function (data) {
                        $.ajax({
                            type: "POST",
                            url: "/{{res['tool_name']}}/save_config_file",
                            data: JSON.stringify(data.field),
                            dataType: "json",
                            success: function (res) {
                                console.log(res)
                                layer.msg(res.msg);
                            }
                        })
                        return false;
                    });
                    // 插件列表保存按钮
                    form.on('submit(save_diy_dict)', function (data) {
                        $.ajax({
                            type: "POST",
                            url: "/{{res['tool_name']}}/save_diy_dict",
                            data: JSON.stringify(data.field),
                            dataType: "json",
                            success: function (res) {
                                console.log(res)
                                layer.msg(res.msg);
                            }
                        })
                        return false;
                    });
                });
            </script>
        </div>
        <div class="layui-tab-item">
            <table class="layui-table">
                <colgroup>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {%for output in res.result_output_list %}
                    <tr>
                        <td><a href="/static/output/{{output}}" target="_blank">{{output}}</a></td>
                        <td><a href="/static/output/{{output}}" target="_blank">查看</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

</div>


{% include "/public/footer.html" %}