{% include "/public/header.html" %}

<div class="layui-card">
    <div class="layui-card-header">{{res.h1}}</div>
    <div class="layui-card-body">
        <table id="demo" lay-filter="test"></table>
    </div>
</div>
<!-- <script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
      <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</button> 
    </div>
  </script> -->
<script type="text/html" id="barDemo">
    <div class="layui-clear-space">
        {{ "{{#  if(d.update_bool == 1){ }}" |safe }}
          <a class="layui-btn layui-btn-xs" lay-event="update">更新</a>
      {{ "{{# }else{  }}" |safe }}
          <a class="layui-btn layui-btn-xs layui-btn-disabled">更新</a>
      {{ "{{# } }}" |safe }}

    </div>
  </script>
<script>
    //Demo

    layui.use(function () {
        var form = layui.form;
        var laydate = layui.laydate;
        var table = layui.table;
        var jq = layui.jquery;
        var layer = layui.layer;
        var dropdown = layui.dropdown;
        var colorpicker = layui.colorpicker;
        //渲染漏洞管理表格
        table.render({
            elem: '#demo'
            // , height: 500
            , url: 'list' //数据接口
            , where: {}
            , page: false //开启分页
            , toolbar: '#toolbarDemo'
            , even: true
            , text: { none: '服务端网络异常,请科学上网' }
            , css: [ // 设置单元格样式
                // 取消默认的溢出隐藏，并设置适当高度
                '.layui-table-cell{height: 50px; line-height: 40px;}',
                '.layui-table-cell .layui-colorpicker{width: 38px; height: 38px;}',
                '.layui-table-cell select{height: 36px; padding: 0 5px;}'
            ].join('')
            , cols: [[ //表头
                { type: 'checkbox', fixed: 'left' }
                , { field: 'id', title: 'ID', width: 125, align: 'center', sort: true }
                , { field: 'name', title: '工具名称', }
                , { field: 'local_version', title: '当前版本', width: 200, }
                , { field: 'version', title: '最新版本', width: 200, }
                , { field: 'msg', title: '更新提示', width: 200, }
                , { field: 'url', title: '下载地址', width: 200, }
                , { fixed: 'right', title: '操作', width: 134, minWidth: 125, toolbar: '#barDemo' }
            ]]
            , done: function (res, curr, count) {
                var options = this;
                // 公用数据更新函数，多个地方应用
                var update = function (data) {
                    var vul_level = data['vul_level']
                    if (vul_level === '高危') {
                        vul_level = 3;
                    } else if (vul_level === '中危') {
                        vul_level = 2;
                    } else if (vul_level === '低危') {
                        vul_level = 1;
                    }
                    jq.ajax({
                        url: "api/vul",
                        data: {
                            action: "update",
                            vul_type_name: data['vul_type_name'],
                            vul_name: data['vul_name'],
                            vul_desc: data['vul_desc'],
                            vul_repair: data['vul_repair'],
                            vul_level: vul_level,
                            id: data['id'],
                        },
                        dataType: "json",
                        type: "POST",
                        success: function (res) {
                            data = res.data
                            layer.msg(data)
                        }
                    })
                }
                // 获取当前行数据
                table.getRowData = function (elem) {
                    var index = jq(elem).closest('tr').data('index');
                    return table.cache[options.id][index] || {};
                };

                // 单元格编辑后的事件
                table.on('edit(test)', function (obj) {
                    var data = obj.data // 得到所在行所有键值
                    // 值的校验
                    update(data)

                })

                // 触发行内单元格工具事件
                table.on('tool(test)', function (obj) { // 双击 toolDouble
                    var data = obj.data; // 获得当前行数据
                    if (obj.event === 'update') {
                        jq.ajax({
                            url: "update",
                            data: JSON.stringify(data),
                            dataType: "json",
                            type: "POST",
                            success: function (res) {
                                data = res.data
                                layer.msg(data)
                            }
                        })
                    }
                });
            }
        });



    });
</script>
</body>

</html>