{% include "/public/header.html" %}
<h1>{{res.h1}}</h1>
<hr class="layui-border-blue">
<div class="layui-tab layui-tab-card" lay-filter="test-hash">
    <ul class="layui-tab-title">
        <li class="layui-this" lay-id="添加任务">① 添加任务</li>
        <li lay-id="查看结果">② 查看结果</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form">
                {% include 'public/target+help_documents.html' %}


                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">待执行命令</label>
                    <div class="layui-input-block">
                        <textarea name="shell" id="shell" placeholder="" class="layui-textarea"></textarea>
                        <div class="layui-form-mid layui-word-aux">后先点击[生成],可修改生成的值进行自定义,再点击[运行]</div>
                    </div>
                </div>
                {% include 'public/button_group_new.html' %}

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn  layui-btn-primary layui-border layui-border-green  " lay-submit
                            lay-filter="formDemo_exp">
                            启动GUI利用工具</button>
                    </div>
                </div>
            </form>
        </div>
        {% include '/public/result_output_table.html' %}

    </div>
</div>




<script>
    //JS 
    layui.use(['element', 'layer', 'util', "code"], function () {
        var element = layui.element
            , layer = layui.layer
            , util = layui.util
            , $ = layui.$
            , form = layui.form;

        //启动gui利用工具
        form.on('submit(formDemo_exp)', function (data) {
            $.ajax({
                type: "POST",
                url: "/{{res['tool_name']}}/exp",
                data: JSON.stringify(data.field),
                dataType: "json",
                success: function (res) {
                    console.log(res)
                    layer.msg(res.msg);
                }
            })
            return false;
        });
        //提交
        form.on('submit(formDemo)', function (data) {
            $.ajax({
                type: "POST",
                url: "/{{res['tool_name']}}/update",
                data: JSON.stringify(data.field),
                dataType: "json",
                success: function (res) {
                    console.log(res)
                    $("#shell").val(res.data);
                    layer.msg(res.msg);
                }
            })
            return false;
        });


    });
</script>
{% include "/public/footer.html" %}