<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>start_tools</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui-theme-dark.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<style>
		.nav-left {
			width: 200px;
			top: 60px;
			position: fixed;
			background-color: #2f363c !important;
			position: fixed;
			left: 0;
			bottom: 0;
			z-index: 999;
		}

		.layui-menu {
			background-color: #2f363c !important;
			margin: 0, 0;
		}

		.layui-panel {
			background-color: #2f363c !important;
		}

		.layui-menu-body-title {
			margin: 0;
			/* width: 160px; */
		}

		.layui-menu-body-panel {
			margin-left: 0px
		}
	</style>
</head>

<body>
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo layui-hide-xs layui-bg-black">start_tools</div>
			<!-- 头部区域（可配合layui 已有的水平导航） -->
			<ul class="layui-nav layui-layout-left" lay-filter="top_left">
				<!-- 移动端显示 -->
				<li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
					<i class="layui-icon layui-icon-spread-left"></i>
				</li>
				<li class="layui-nav-item layui-hide-xs"><a href="/index/">首页</a></li>
				<!-- <li class="layui-nav-item layui-hide-xs"><a>一键启动</a></li> -->

			</ul>
		</div>
		<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		<div class="nav-left">
			<div class="layui-panel">
				<ul class="layui-menu" id="nav-left">
					<li class="layui-menu-item-parent" lay-options="{type: 'parent'}">
						<div class="layui-menu-body-title">
							信 息 收 集<i class="layui-icon layui-icon-right"></i>
						</div>
						<div class="layui-panel layui-menu-body-panel">
							<ul>
								<li class="layui-menu-item-divider"></li>
								<li class="layui-menu-item-group layui-menu-item-down" lay-options="{type: 'group'}">
									<div class="layui-menu-body-title">
										互联网资产<i class="layui-icon layui-icon-up"></i>
									</div>
									<ul>
										<li class="" lay-options="{
											title:'enscan',
										}">
											<div class="layui-menu-body-title">企业信息收集</div>
										</li>
									</ul>
								</li>
								<li class="layui-menu-item-divider"></li>

								<li class="layui-menu-item-group layui-menu-item-down" lay-options="{type: 'group'}">

									<div class="layui-menu-body-title">
										web 资产<i class="layui-icon layui-icon-up"></i>
									</div>
									<ul>
										<li class="" lay-options="{
											title:'fofamap',
										}">
											<div class="layui-menu-body-title">fofamap</div>
										</li>
										<li class="" lay-options="{
											title:'fofaviewer',
										}">
											<div class="layui-menu-body-title">Fofa客户端</div>
										</li>
										<li class="" lay-options="{
											title:'w_finger',
										}">
											<div class="layui-menu-body-title">指纹识别</div>
										</li>
										<li class="" lay-options="{
											title:'dirsearch',
										}">
											<div class="layui-menu-body-title">目录扫描-dirsearch</div>
										</li>
										<li class="" lay-options="{
											title:'ipinfosearch',
										}">
											<div class="layui-menu-body-title">Ip查询[域名、权重、备案]</div>
										</li>
										<li class="" lay-options="{
											title:'ip_attribution',
										}">
											<div class="layui-menu-body-title">Ip查询[归属地]</div>
										</li>
										<li class="" lay-options="{
											title:'info',
										}">
											<div class="layui-menu-body-title">敏感文件扫描</div>
										</li>
									</ul>
								</li>
								<li class="layui-menu-item-divider"></li>

								<li class="layui-menu-item-group layui-menu-item-down" lay-options="{type: 'group'}">

									<div class="layui-menu-body-title">
										内网资产<i class="layui-icon layui-icon-up"></i>
									</div>
									<ul>
										<li class="" lay-options="{
											title:'avcheck',
										}">
											<div class="layui-menu-body-title">进程识别</div>
										</li>
									</ul>
								</li>
								<li class="layui-menu-item-divider"></li>
							</ul>
						</div>
					</li>
					<li class="layui-menu-item-divider"></li>
					<li class="layui-menu-item-parent" lay-options="{type: 'parent'}">
						<div class="layui-menu-body-title">
							漏 洞 扫 描<i class="layui-icon layui-icon-right"></i>
						</div>
						<div class="layui-panel layui-menu-body-panel">
							<ul>
								<li class="layui-menu-item-group layui-menu-item-down" lay-options="{type: 'group'}">
									<div class="layui-menu-body-title">
										综 合 扫 描<i class="layui-icon layui-icon-up"></i>
									</div>
									<ul>

										<li class="" lay-options="{
											title:'xray',
										}">
											<div class="layui-menu-body-title">xray</div>
										</li>
										<li class="" lay-options="{
											title:'xpoc',
										}">
											<div class="layui-menu-body-title">xpoc</div>
										</li>
										<li class="" lay-options="{
											title:'nuclei',
										}">
											<div class="layui-menu-body-title">nuclei</div>
										</li>
										<li class="" lay-options="{
											title:'tidefinger',
										}">
											<div class="layui-menu-body-title">tidefinger</div>
										</li>

									</ul>
								</li>
								<li class="layui-menu-item-divider"></li>
								<li class="layui-menu-item-group layui-menu-item-down" lay-options="{type: 'group'}">
									<div class="layui-menu-body-title">
										框 架 扫 描<i class="layui-icon layui-icon-up"></i>
									</div>
									<ul>
										<li class="" lay-options="{
											title:'thinkphp',
										}">
											<div class="layui-menu-body-title">thinkphp</div>
										</li>
										<li class="" lay-options="{
											title:'weblogic',
										}">
											<div class="layui-menu-body-title">weblogic</div>
										</li>
									</ul>
								</li>

							</ul>
						</div>
					</li>
					<li class="layui-menu-item-divider"></li>
					<li class="layui-menu-item-parent" lay-options="{type: 'parent'}">
						<div class="layui-menu-body-title">
							漏 洞 利 用
							<i class="layui-icon layui-icon-right"></i>
						</div>
						<div class="layui-panel layui-menu-body-panel">
							<ul>
								<li class="layui-menu-item-group layui-menu-item-down" lay-options="{type: 'group'}">
									<div class="layui-menu-body-title">
										数据库<i class="layui-icon layui-icon-up"></i>
									</div>
									<ul>
										<li class="" id="sqlmap" lay-options="{
										title:'sqlmap',
									}">
											<div class="layui-menu-body-title">Sql注入工具</div>
										</li>
										<li class="" lay-options="{
											title:'dbeaver',
										}">
											<div class="layui-menu-body-title">dbeaver-数据库管理</div>
										</li>

									</ul>
								</li>
								<li class="layui-menu-item-divider"></li>
								<li class="layui-menu-item-group layui-menu-item-down" lay-options="{type: 'group'}">
									<div class="layui-menu-body-title">
										Spring<i class="layui-icon layui-icon-up"></i>
									</div>
									<ul>
										<li class="" lay-options="{
											title:'heapdump',
										}">
											<div class="layui-menu-body-title">Spring内存分析</div>
										</li>
									</ul>
								</li>
								<li class="layui-menu-item-divider"></li>
								<li class="layui-menu-item-group layui-menu-item-down" lay-options="{type: 'group'}">
									<div class="layui-menu-body-title">
										Nacos<i class="layui-icon layui-icon-up"></i>
									</div>
									<ul>
										<li class="" lay-options="{
											title:'nacos',
										}">
											<div class="layui-menu-body-title">Nacos配置文件导出</div>
										</li>
									</ul>
								</li>

								<li class="layui-menu-item-divider"></li>
								<li class="" lay-options="{
								}">
									<div class="layui-menu-body-title">
										<a href="\static\reverse_shell_generator\index.html" target="_blank">反弹shell</a>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li class="layui-menu-item-divider"></li>
					<li class="layui-menu-item-parent" lay-options="{type: 'parent'}">
						<div class="layui-menu-body-title">
							数 据 处 理
							<i class="layui-icon layui-icon-right"></i>
						</div>

						<div class="layui-panel layui-menu-body-panel">
							<ul>
								<li class="" lay-options="{
									title:'format_string',
								}">
									<div class="layui-menu-body-title">URL处理</div>
								</li>
								<li class="layui-menu-item-divider"></li>
								<li class="layui-menu-item-group layui-menu-item-down" lay-options="{type: 'group'}">
									<div class="layui-menu-body-title">
										社工字典<i class="layui-icon layui-icon-up"></i>
									</div>
									<ul>
										<li class="" lay-options="{
											title:'dict_create',
										}">
											<div class="layui-menu-body-title">md5碰撞-多个</div>
										</li>
										<li class="" lay-options="{
										}">
											<div class="layui-menu-body-title">
												<a href="\static\SocialEngineeringDictionaryGenerator\index.html"
													target="_blank">字典生成-个人</a>
											</div>
										</li>
									</ul>
								</li>
								<li class="layui-menu-item-divider"></li>

								<li class="" lay-options="{
									title:'ip_create',
								}">
									<div class="layui-menu-body-title">掩码转IP</div>
								</li>
								<li class="" lay-options="{
									title:'re_tool',
								}">
									<div class="layui-menu-body-title">正则工具</div>
								</li>
							</ul>
						</div>
					</li>
					<li class="layui-menu-item-divider"></li>
					<li class="layui-menu-item-parent" lay-options="{type: 'parent'}">
						<div class="layui-menu-body-title">
							系 统 工 具
							<i class="layui-icon layui-icon-right"></i>
						</div>

						<div class="layui-panel layui-menu-body-panel">
							<ul>
								<li class="" lay-options="{
									title:'exec',
								}">
									<div class="layui-menu-body-title">系统命令执行</div>
								</li>
								<li class="" lay-options="{
									title:'clean',
								}">
									<div class="layui-menu-body-title">痕迹清理</div>
								</li>
								<li class="" lay-options="{
									title:'ProxyPoolxSocks',
								}">
									<div class="layui-menu-body-title">socks代理</div>
								</li>
							</ul>
						</div>
					</li>

				</ul>
			</div>
		</div>

		<div class="layui-body">
			<!-- 内容主体区域 -->
			<div style="padding: 15px;" id="contentArea"
				style="background-image: url('/static/images/black_main.png');">
				<fieldset class="layui-elem-field">
					<legend>导 航 栏</legend>
					<div class="layui-field-box">
						<div class="layui-row">
							<div class="layui-col-xs2">
								<fieldset class="layui-elem-field">
									<legend>信 息 收 集</legend>
									<div class="layui-field-box">
										<div class="layui-panel">
											<ul class="layui-menu" id="nav-left">
												<li class="layui-menu-item-divider"></li>
												<li class="layui-menu-item-group layui-menu-item-down"
													lay-options="{type: 'group'}">
													<div class="layui-menu-body-title">
														互联网资产<i class="layui-icon layui-icon-up"></i>
													</div>
													<ul>
														<li class="" lay-options="{
															title:'enscan',
														}">
															<div class="layui-menu-body-title">企业信息收集</div>
														</li>
													</ul>
												</li>
												<li class="layui-menu-item-divider"></li>

												<li class="layui-menu-item-group layui-menu-item-down"
													lay-options="{type: 'group'}">

													<div class="layui-menu-body-title">
														web 资产<i class="layui-icon layui-icon-up"></i>
													</div>
													<ul>
														<li class="" lay-options="{
															title:'fofamap',
														}">
															<div class="layui-menu-body-title">fofamap</div>
														</li>
														<li class="" lay-options="{
															title:'w_finger',
														}">
															<div class="layui-menu-body-title">指纹识别</div>
														</li>
														<li class="" lay-options="{
															title:'dirsearch',
														}">
															<div class="layui-menu-body-title">目录扫描-dirsearch</div>
														</li>
														<li class="" lay-options="{
															title:'ipinfosearch',
														}">
															<div class="layui-menu-body-title">Ip查询[域名、权重、备案]</div>
														</li>
														<li class="" lay-options="{
															title:'ip_attribution',
														}">
															<div class="layui-menu-body-title">Ip查询[归属地]</div>
														</li>
														<li class="" lay-options="{
															title:'info',
														}">
															<div class="layui-menu-body-title">敏感文件扫描</div>
														</li>
													</ul>
												</li>
												<li class="layui-menu-item-group layui-menu-item-down"
													lay-options="{type: 'group'}">

													<div class="layui-menu-body-title">
														web 资产 - GUI<i class="layui-icon layui-icon-up"></i>
													</div>
													<ul>

														<li class="" lay-options="{
														title:'fofaviewer',
													}">
															<div class="layui-menu-body-title">Fofa客户端</div>
														</li>

													</ul>
												</li>
												<li class="layui-menu-item-divider"></li>
												<li class="layui-menu-item-group layui-menu-item-down"
													lay-options="{type: 'group'}">
													<div class="layui-menu-body-title">
														内网资产<i class="layui-icon layui-icon-up"></i>
													</div>
													<ul>
														<li class="" lay-options="{
															title:'avcheck',
														}">
															<div class="layui-menu-body-title">进程识别</div>
														</li>
													</ul>
												</li>
												<li class="layui-menu-item-divider"></li>
											</ul>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="layui-col-xs2">
								<fieldset class="layui-elem-field">
									<legend>漏 洞 扫 描</legend>
									<div class="layui-field-box">
										<div class="layui-panel">
											<ul class="layui-menu" id="nav-left">
												<li class="layui-menu-item-divider"></li>
												<li class="layui-menu-item-group layui-menu-item-down"
													lay-options="{type: 'group'}">
													<div class="layui-menu-body-title">
														综合扫描<i class="layui-icon layui-icon-up"></i>
													</div>
													<ul>

														<li class="" lay-options="{
													title:'xray',
												}">
															<div class="layui-menu-body-title">xray</div>
														</li>
														<li class="" lay-options="{
													title:'xpoc',
												}">
															<div class="layui-menu-body-title">xpoc</div>
														</li>
														<li class="" lay-options="{
													title:'nuclei',
												}">
															<div class="layui-menu-body-title">nuclei</div>
														</li>
														<li class="" lay-options="{
													title:'tidefinger',
												}">
															<div class="layui-menu-body-title">tidefinger</div>
														</li>

													</ul>
												</li>
												<li class="layui-menu-item-divider"></li>
												<li class="layui-menu-item-group layui-menu-item-down"
													lay-options="{type: 'group'}">
													<div class="layui-menu-body-title">
														框架扫描<i class="layui-icon layui-icon-up"></i>
													</div>
													<ul>
														<li class="" lay-options="{
													title:'thinkphp',
												}">
															<div class="layui-menu-body-title">thinkphp</div>
														</li>
														<li class="" lay-options="{
													title:'weblogic',
												}">
															<div class="layui-menu-body-title">weblogic</div>
														</li>
													</ul>
												</li>

												<li class="layui-menu-item-group layui-menu-item-down"
													lay-options="{type: 'group'}">
													<div class="layui-menu-body-title">
														框架扫描-GUI<i class="layui-icon layui-icon-up"></i>
													</div>
													<ul>

														<li class="" id="oa_dirpath" lay-options="{
															title:'oa_dirpath',
														}">
															<div class="layui-menu-body-title">OA利用工具<i
																	class="layui-icon layui-icon-tips" lay-tips="{
																content: '1. 首次点击将自动解压部署<br />',
																margin: '0 0 0 -10px'
																}"></i></div>
														</li>
														<li class="" id="shiro_dirpath" lay-options="{
																	title:'shiro_dirpath',
																}">
															<div class="layui-menu-body-title">Shiro利用工具<i
																	class="layui-icon layui-icon-tips" lay-tips="{
																content: '1. 首次点击将自动解压部署<br />',
																margin: '0 0 0 -10px'
																}"></i></div>
														</li>
													</ul>
												</li>
												<li class="layui-menu-item-divider"></li>
											</ul>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="layui-col-xs2">
								<fieldset class="layui-elem-field">
									<legend>漏 洞 利 用</legend>
									<div class="layui-field-box">
										<div class="layui-panel">
											<ul class="layui-menu" id="nav-left">
												<li class="layui-menu-item-divider"></li>

												<li class="layui-menu-item-group layui-menu-item-down"
													lay-options="{type: 'group'}">
													<div class="layui-menu-body-title">
														数据库<i class="layui-icon layui-icon-up"></i>
													</div>
													<ul>
														<li class="" lay-options="{
											title:'sqlmap',
										}">
															<div class="layui-menu-body-title">sqlmap-注入<i
																	class="layui-icon layui-icon-tips" lay-tips="{
																content: '1. 首次点击将自动解压部署<br />',
																margin: '0 0 0 -10px'
																}"></i></div>
														</li>
													</ul>
												</li>

												<li class="layui-menu-item-group layui-menu-item-down"
													lay-options="{type: 'group'}">
													<div class="layui-menu-body-title">
														数据库-GUI<i class="layui-icon layui-icon-up"></i>
													</div>
													<ul>
														<li class="" id="dbeaver" lay-options="{
															title:'dbeaver',
														}">
															<div class="layui-menu-body-title">dbeaver-数据库管理<i
																	class="layui-icon layui-icon-tips" lay-tips="{
																content: '1. 首次点击将自动解压部署<br />',
																margin: '0 0 0 -10px'
																}"></i></div>
														</li>
														<li class="" id="redis" lay-options="{
															title:'redis',
														}">
															<div class="layui-menu-body-title">redis-客户端<i
																	class="layui-icon layui-icon-tips" lay-tips="{
																content: '1. 首次点击将自动解压部署<br />',
																margin: '0 0 0 -10px'
																}"></i></div>
														</li>
														<li class="" id="mdut" lay-options="{
															title:'mdut',
														}">
															<div class="layui-menu-body-title">MDUT-数据库利用<i
																	class="layui-icon layui-icon-tips" lay-tips="{
																content: '1. 首次点击将自动解压部署<br />',
																margin: '0 0 0 -10px'
																}"></i></div>
														</li>
													</ul>
												</li>
												<li class="layui-menu-item-divider"></li>
												<li class="layui-menu-item-group layui-menu-item-down"
													lay-options="{type: 'group'}">
													<div class="layui-menu-body-title">
														框架利用<i class="layui-icon layui-icon-up"></i>
													</div>
													<ul>
														<li class="" lay-options="{
															title:'nacos',
														}">
															<div class="layui-menu-body-title">Nacos配置文件导出</div>
														</li>

														<li class="" lay-options="{
														title:'heapdump',
													}">
															<div class="layui-menu-body-title">Spring-内存分析</div>
														</li>
													</ul>
												</li>
												<li class="layui-menu-item-group layui-menu-item-down"
													lay-options="{type: 'group'}">
													<div class="layui-menu-body-title">
														框架利用-GUI<i class="layui-icon layui-icon-up"></i>
													</div>
													<ul>

														<li class="" lay-options="{
													}">
															<div class="layui-menu-body-title">
																<a href="\static\reverse_shell_generator\index.html"
																	target="_blank">反弹shell</a>
															</div>
														</li>
													</ul>
												</li>

												<li class="layui-menu-item-divider"></li>
											</ul>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="layui-col-xs2">
								<fieldset class="layui-elem-field">
									<legend>webshell管理工具</legend>
									<div class="layui-field-box">
										<div class="layui-panel">
											<ul class="layui-menu" id="nav-left">

												<li class="layui-menu-item-divider"></li>
												<li class="" id="antsword" lay-options="{
										title:'antsword',
									}">
													<div class="layui-menu-body-title">antsword-中国蚁剑
														<i class="layui-icon layui-icon-tips" lay-tips="{
									content: '1. 首次点击将自动解压部署<br />2. 首次使用需指定工作目录，路径为:	tools\\antsword\\antSword-master',
									margin: '0 0 0 -10px'
									}"></i>
													</div>

												</li>
												<li class="" id="behinder" lay-options="{
													title:'behinder',
												}">

													<div class="layui-menu-body-title">behinder-冰蝎<i
															class="layui-icon layui-icon-tips" lay-tips="{
														content: '1. 首次点击将自动解压部署<br />',
														margin: '0 0 0 -10px'
														}"></i></div>

												</li>
												<li class="" id="godzilla" lay-options="{
																title:'godzilla',
															}">
													<div class="layui-menu-body-title">godzilla-哥斯拉<i
															class="layui-icon layui-icon-tips" lay-tips="{
														content: '1. 首次点击将自动解压部署<br />2. 插件存放位置:	tools\\godzilla',
														margin: '0 0 0 -10px'
														}"></i></div>

												</li>
												<li class="layui-menu-item-divider"></li>

											</ul>
										</div>
									</div>
								</fieldset>
								<fieldset class="layui-elem-field">
									<legend>抓 包 工 具</legend>
									<div class="layui-field-box">
										<div class="layui-panel">
											<ul class="layui-menu" id="nav-left">
												<li class="layui-menu-item-divider"></li>
												<li class="" id="burpsuite" lay-options="{
										title:'burpsuite',
									}">
													<div class="layui-menu-body-title">burpsuite<i
															class="layui-icon layui-icon-tips" lay-tips="{
														content: '1. 首次点击将自动解压部署<br />2. 插件存放位置:	tools\\burpsuite\\burpsuite_extension',
														margin: '0 0 0 -10px'
														}"></i></div>
												</li>
												<li class="layui-menu-item-divider"></li>
											</ul>
										</div>
									</div>
								</fieldset>

								<fieldset class="layui-elem-field">
									<legend>综 合 工 具</legend>
									<div class="layui-field-box">
										<div class="layui-panel">
											<ul class="layui-menu" id="nav-left">
												<li class="layui-menu-item-divider"></li>
												<li class="" id="gorailgun" lay-options="{
										title:'gorailgun',
									}">
													<div class="layui-menu-body-title">gorailgun<i
															class="layui-icon layui-icon-tips" lay-tips="{
														content: '1. 首次点击将自动解压部署<br />2. 软件启动密码：三个空格',
														margin: '0 0 0 -10px'
														}"></i></div>
												</li>
												<li class="layui-menu-item-divider"></li>
											</ul>
										</div>
									</div>
								</fieldset>
							</div>

							<div class="layui-col-xs2">
								<fieldset class="layui-elem-field">
									<legend>数 据 处 理</legend>
									<div class="layui-field-box">
										<div class="layui-panel">
											<ul class="layui-menu" id="nav-left">
												<li class="layui-menu-item-divider"></li>

												<li class="" lay-options="{
										title:'format_string',
									}">
													<div class="layui-menu-body-title">URL处理</div>
												</li>
												<li class="layui-menu-item-divider"></li>
												<li class="layui-menu-item-group layui-menu-item-down"
													lay-options="{type: 'group'}">
													<div class="layui-menu-body-title">
														社工字典<i class="layui-icon layui-icon-up"></i>
													</div>
													<ul>
														<li class="" lay-options="{
															title:'dict_create',
														}">
															<div class="layui-menu-body-title">md5碰撞-多个</div>
														</li>
														<li class="" lay-options="{
														}">
															<div class="layui-menu-body-title">
																<a href="\static\SocialEngineeringDictionaryGenerator\index.html"
																	target="_blank">字典生成-个人</a>
															</div>
														</li>
													</ul>
												</li>
												<li class="layui-menu-item-divider"></li>
												<li class="" lay-options="{
										title:'ip_create',
									}">
													<div class="layui-menu-body-title">掩码转IP</div>
												</li>
												<li class="" lay-options="{
										title:'re_tool',
									}">
													<div class="layui-menu-body-title">正则-同类数据提取</div>
												</li>
												<li class="" lay-options="{
													title:'re_search',
												}">
													<div class="layui-menu-body-title">正则-敏感数据提取</div>
												</li>
												<li class="layui-menu-item-divider"></li>

											</ul>
										</div>
									</div>
								</fieldset>


							</div>
							<div class="layui-col-xs2">
								<fieldset class="layui-elem-field">
									<legend>系 统 工 具</legend>
									<div class="layui-field-box">
										<div class="layui-panel">
											<ul class="layui-menu" id="nav-left">
												<li class="layui-menu-item-divider"></li>
												<li class="" lay-options="{
										title:'exec',
									}">
													<div class="layui-menu-body-title">系统命令执行</div>
												</li>
												<li class="" lay-options="{
										title:'clean',
									}">
													<div class="layui-menu-body-title">痕迹清理</div>
												</li>
												<li class="" lay-options="{
										title:'ProxyPoolxSocks',
									}">
													<div class="layui-menu-body-title">socks代理</div>
												</li>
												<li class="layui-menu-item-divider"></li>
												<li class="" id="MobaXterm" lay-options="{
													title:'MobaXterm',
												}">
													<div class="layui-menu-body-title">MobaXterm-超级终端工具<i
															class="layui-icon layui-icon-tips" lay-tips="{
														content: '1. 首次点击将自动解压部署<br />',
														margin: '0 0 0 -10px'
														}"></i></div>
												</li>
												<li class="layui-menu-item-divider"></li>
												<li class="" lay-options="{
													title:'test',
												}">
													<div class="layui-menu-body-title">test</div>
												</li>
											</ul>
										</div>
									</div>
								</fieldset>

							</div>
						</div>
					</div>
				</fieldset>

			</div>

		</div>

		<!-- <div class="layui-footer">
			版权所有 ws 2022-
		</div> -->

	</div>
	<script src="{{ url_for('static', filename='layui/layui.js') }}"></script>
	<script>
		layui.use(function () {
			var dropdown = layui.dropdown;
			var element = layui.element;
			var layer = layui.layer;
			var $ = layui.$;
			var form = layui.form;
			var laydate = layui.laydate;
			var util = layui.util;
			$(document).on("mouseenter", "*[lay-tips]", function () {
				var e = $(this)
					, i = lay.options(this, {
						attr: "lay-tips"
					})
					, t = layer.tips(i.content, this, {
						tips: i.direction || 1,
						time: -1,
						success: function (e, t) {
							e.css("margin", i.margin)
						}
					});
				e.data("index", t)
			}).on("mouseleave", "*[lay-tips]", function () {
				layer.close($(this).data("index"))
			})



			// 顶部导航栏点击事件
			element.on('nav(top_left)', function (data) {
				if (data.text() == "清理结果") {
					temp_url = "/clean/"
					msg = "清理所有扫描结果"
				} else if (data.text() == "一键日站") {
					temp_url = "/penetration/"
					msg = "一键启动[yakit,chrome]"
				} else {
					// 其他按钮直接执行,不询问
					return false
				}

				layer.confirm(msg, { icon: 3, title: '提示' }, function (index) {
					$.ajax({
						type: "POST",
						url: temp_url,
						dataType: "json",
						success: function (res) {
							layer.msg(res.msg);
						}
					})

					layer.close(index);
				});
			});
			// 左侧菜单点击事件
			dropdown.on('click(nav-left)', function (options) {
				title = options['title']
				// 发起Ajax请求获取页面内容
				$.ajax({
					url: "/" + title + "/",
					type: "GET",
					dataType: "html",
					success: function (response) {
						// 将获取到的页面内容插入到内容区域
						$("#contentArea").html(response);
						// 重新渲染 Layui 元素
						layui.element.init();
						layui.form.render();
					},
					error: function (xhr, status, error) {
						layer.msg("页面加载失败：" + error, { icon: 2 });
					}
				});
			});

			// 打开结果路径
			form.on('submit(formOpen_res)', function (data) {
				$.ajax({
					type: "POST",
					url: "/exec/update",
					data: JSON.stringify({ "shell": "explorer " + data.field['result_path'] + ";exit" }),
					// data: { "shell": data.field['shell'] },
					dataType: "json",
					success: function (res) {
						console.log(res);
						layer.msg(res.msg);
					}
				})
				// layer.msg(JSON.stringify());
				return false;
			});
			// 打开工具路径
			form.on('submit(formOpen)', function (data) {
				$.ajax({
					type: "POST",
					url: "/exec/update",
					data: JSON.stringify({ "shell": "explorer " + data.field['dir_path'] + ";exit" }),
					// data: { "shell": data.field['shell'] },
					dataType: "json",
					success: function (res) {
						console.log(res);
						layer.msg(res.msg);
					}
				})
				// layer.msg(JSON.stringify());
				return false;
			});
			// 运行
			form.on('submit(formRun)', function (data) {
				$.ajax({
					type: "POST",
					url: "/exec/update",
					data: JSON.stringify({ "shell": data.field['shell'] }),
					// data: { "shell": data.field['shell'] },
					dataType: "json",
					success: function (res) {
						console.log(res);
						layer.msg(res.msg);
					}
				})
				// layer.msg(JSON.stringify());
				return false;
			});
		});

	</script>
</body>

</html>