{% include "/public/header.html" %}
<h1>{{res.h1}}</h1>
<hr class="layui-border-blue">
<div class="layui-tab layui-tab-card" lay-filter="test-hash">
    <ul class="layui-tab-title">
                <li class="layui-this" lay-id="添加任务">① 添加任务</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form">
                {% include 'public/tool_path.html' %}
        
                {% include 'public/shell_template.html' %}

                {% include 'public/button_group_new.html' %}
                {% include 'public/help_document_new.html' %}
            </form>
        </div>
    </div>

</div>



{% include "/public/footer.html" %}