{% include "/public/header.html" %}
<h1>{{res.h1}}</h1>
<hr class="layui-border-blue">
<div class="layui-tab layui-tab-card" lay-filter="test-hash">
    <ul class="layui-tab-title">
        <li class="layui-this" lay-id="添加任务">① 添加任务</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">搜索框</label>
                    <div class="layui-input-block">

                        <input type="text" name="school" value="" placeholder="请输入学校名称" class="layui-input"
                            lay-affix="clear">
                        <!-- <div class="layui-form-mid layui-word-aux">参考帮助文档，可使用glob语法</div> -->
                    </div>
                </div>
                {% include 'public/button_group_new.html' %}
                <div class="layui-form-item">
                    <label class="layui-form-label">结果输出</label>
                    <div class="layui-input-block">
                        <table class="layui-hide" id="ID-table-demo-search"></table>

                        <!-- <div class="layui-form-mid layui-word-aux">参考帮助文档，可使用glob语法</div> -->
                    </div>
                </div>
                <!-- <div class="layui-btn-container layui-col-xs12">
                    <button class="layui-btn" lay-submit lay-filter="demo-table-search">Search</button>
                    <button type="reset" class="layui-btn layui-btn-primary">Clear</button>
                </div> -->
            </form>

            <script>
                layui.use(function () {
                    var table = layui.table;
                    var form = layui.form;
                    // 创建表格实例
                    table.render({
                        elem: '#ID-table-demo-search',
                        url: "/{{res['tool_name']}}/list",
                        method: "POST",
                        cols: [[
                            { field: 'id', title: 'ID', width: 80, sort: true, fixed: true },
                            { field: 'school', title: '学校名称', width: 300 },
                            { field: 'ips', title: 'IP地址段', sort: true, width: 300 },
                            { field: 'location', title: '地理位置', width: 300 },
                            { field: 'network_type', title: '网络类型', }
                        ]],
                        page: true,
                        // height: 500
                    });

                    // 搜索提交
                    form.on('submit(form_create)', function (data) {
                        var field = data.field; // 获得表单字段
                        // 执行搜索重载
                        table.reload('ID-table-demo-search', {
                            page: {
                                curr: 1 // 重新从第 1 页开始
                            },
                            method: "POST",
                            where: field // 搜索的字段
                        });
                        // layer.msg('搜索成功<br>此处为静态模拟数据，实际使用时换成真实接口即可');
                        return false; // 阻止默认 form 跳转
                    });
                });
            </script>

        </div>

    </div>
</div>


{% include "/public/footer.html" %}