{% include "/public/header.html" %}
<h1>{{res.h1}}</h1>
<hr class="layui-border-blue">
<div class="layui-tab layui-tab-card" lay-filter="test-hash">
    <ul class="layui-tab-title">
        <li class="layui-this" lay-id="添加任务">① 添加任务</li>
        <li lay-id="查看结果">② 查看结果</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form">
                {% include 'public/tool_path.html' %}
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            IP列表<br>
                            按行写入
                        </label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <textarea name="ip_mask_str" id="targets" placeholder="" rows="10"
                                class="layui-textarea"></textarea>
                            <div class="layui-form-mid layui-word-aux">
                                格式：192.168.1.1/24<br>
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            域名列表<br>
                            按行写入</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <textarea name="domain_str" id="targets" placeholder="" rows="10"
                                class="layui-textarea"></textarea>
                            <div class="layui-form-mid layui-word-aux">
                                格式：baidu.com<br>
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">备案号列表<br>
                            按行写入</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <textarea name="icp_str" id="targets" placeholder="" rows="10"
                                class="layui-textarea"></textarea>
                            <div class="layui-form-mid layui-word-aux">
                                格式：湘ICP备xxxxxxxx号<br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">待执行命令</label>
                    <div class="layui-input-block">
                        <textarea name="shell" id="shell" placeholder="" class="layui-textarea"></textarea>
                        <div class="layui-form-mid layui-word-aux">先点击[生成],可修改生成的值进行自定义,再点击[运行]</div>
                    </div>
                </div>



                {% include 'public/button_group_new.html' %}
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">配置文件</label>
                    <div class="layui-input-inline" style="width: 800px;">
                        <textarea name="config_file" id="config_file" placeholder="" rows="10"
                            class="layui-textarea">{{res.config_file}}</textarea>
                        <div class="layui-form-mid layui-word-aux">
                            配置文件到这儿改
                            <button type="button" class="layui-btn layui-btn-primary layui-border layui-border-green  layui-btn-primary layui-btn-sm"
                                lay-submit lay-filter="config_file">
                                点击保存
                            </button>
                        </div>
                    </div>
                </div>
                <script>
                    layui.use(function () {
                        var $ = layui.$;
                        var form = layui.form;
                        var layer = layui.layer;

                        // 插件列表保存按钮
                        form.on('submit(config_file)', function (data) {
                            $.ajax({
                                type: "POST",
                                url: "/{{res['tool_name']}}/save_config_file",
                                data: JSON.stringify(data.field),
                                dataType: "json",
                                success: function (res) {
                                    console.log(res)
                                    layer.msg(res.msg);
                                }
                            })
                            return false;
                        });
                    });
                </script>

                {% include '/public/help_document_new.html' %}
            </form>
        </div>
        {% include '/public/result_output_table.html' %}

    </div>
</div>
{% include "/public/footer.html" %}