

{% include "/public/header.html" %}
<h1>{{res.h1}}</h1>
<hr class="layui-border-blue">
<form class="layui-form">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">待执行命令</label>
        <div class="layui-input-block">
            <textarea name="shell" id="shell" placeholder="" class="layui-textarea">whoami</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn  layui-btn-primary layui-border layui-border-green" lay-submit lay-filter="formRun"> 运行</button>
        </div>
    </div>
</form>




<script>
    //JS 
    layui.use(['element', 'layer',], function () {
        var element = layui.element
            , layer = layui.layer
            , util = layui.util
            , $ = layui.$
            , form = layui.form;

        // 运行
        form.on('submit(formRun)', function (data) {
            $.ajax({
                type: "POST",
                url: "/exec/update",
                data: JSON.stringify(data.field),
                // data: { "shell": data.field['shell'] },
                dataType: "json",
                success: function (res) {
                    console.log(res);
                    layer.msg(res.msg);
                }
            })
            return false;
        });



    });
</script>
{% include "/public/footer.html" %}