{% include "/public/header.html" %}
<h1>{{res.h1}}</h1>
<hr class="layui-border-blue">
<form class="layui-form">

    {% include 'public/target+help_documents.html' %}

    {% include 'public/button_group_new.html' %}

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline" style="width: 500px;">
            <div class="layui-form-mid layui-word-aux">
                生成的字典将被写入 <a target="_blank" href="/static/output/{{res.tool_name}}/ip_create_result.txt">ip_dict(点击查看)</a> 中
            </div>
        </div>
    </div>


</form>


{% include "/public/footer.html" %}