<div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
    <div class="demo-login-container">
        <div class="layui-form-item">
            <label class="layui-form-label">漏洞类型</label>
            <div class="layui-input-block">
                <input type="text" name="vul_type_name" value="" lay-verify="required" placeholder="请填写漏洞类型"
                    lay-reqtext="请填写漏洞类型" autocomplete="off" class="layui-input" lay-affix="clear">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">漏洞名称</label>
            <div class="layui-input-block">
                <input type="text" name="vul_name" value="" lay-verify="required" placeholder="请填写漏洞名称"
                    lay-reqtext="请填写漏洞名称" autocomplete="off" class="layui-input" lay-affix="clear">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">漏洞描述</label>
            <div class="layui-input-block">
                <textarea name="vul_desc" placeholder="请输入漏洞描述内容" class="layui-textarea selectinput2"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">修复建议</label>
            <div class="layui-input-block">
                <textarea name="vul_repair" placeholder="请输入修复建议内容" class="layui-textarea selectinput2"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">漏洞等级</label>
            <div class="layui-input-block">
                <select name="vul_level">
                    <option value="">请选择漏洞等级</option>
                    <option value="3">高危</option>
                    <option value="2">中危</option>
                    <option value="1">低危</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="button_save">保存</button>
        </div>
    </div>
</div>