
{% include "/public/header.html" %}
<h1>{{res.h1}}</h1>
<hr class="layui-border-blue">
<form class="layui-form">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">待处理数据</label>
        <div class="layui-input-block">
            <textarea name="keyword" id="keyword" placeholder="" class="layui-textarea" rows="8"
                onmouseup="generateRegex()">
Nginx
    #health check status  end
        #charset koi8-r;

        #access_log  logs/host.access.log  main;

        location /agentClient/ {
            proxy_redirect          off;
            proxy_set_header        Host $host;
            proxy_set_header        X-Real-IP $remote_addr;
        }

        location /unattended/ {
        }

        #平台系统管理 9280
        location /platformsys/ {
            proxy_redirect          off;
        }

        #综合报表系统 39070端口
        location /console_v2/ {
            proxy_redirect          off;
            proxy_set_header        Host $host;
            proxy_set_header        X-Real-IP $remote_addr;
        }

        #综合报表系统 39060端口
        location /cloud_demo/ {
            proxy_redirect          off;
            proxy_set_header        Host $host;
        }

        #道路停车管理系统 38520端口
        location /road/ {
            proxy_redirect          off;
            proxy_set_header        Host $host;
        }

        #路侧接口API 39520 39521端口
        location /roadapi/ {
            proxy_redirect          off;
            proxy_set_header        Host $host;
        }

        #nbiot api 37520端口
        location /nbiotapi/ {
            proxy_redirect          off;
        }

        #路内云 21000
        location /road-cloud/ {
            proxy_redirect          off;
        }

        #路内云 29000
        location /road-control/ {
            proxy_redirect          off;
            proxy_set_header        Host $host;
        }

        #手机端报表 39801端口
        location /mt/ {
        }

        #综合报表上报/服务接口项目 38089端口
        location /manageApi/ {
            proxy_redirect          off;
        }

            </textarea>
            <div class="layui-form-mid layui-word-aux">
                 建议先使用ctool的【代码格式化】工具格式化输入数据<br>
                 鼠标选择字符自动生成正则表达式
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">正则表达式</label>
            <div class="layui-input-block">
                <input type="text" name="re_str" id="re_str" placeholder="" autocomplete="off" class="layui-input"
                    value="">
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn  layui-btn-primary layui-border layui-border-green    layui-btn-normal" lay-submit lay-filter="formDemo">
                    提取</button>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">提取结果</label>
            <div class="layui-input-block">
                <textarea name="output" id="output" placeholder="" class="layui-textarea" rows="10"></textarea>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
        </div>
    </div>
</form>


<script>
    layui.use(['element', 'layer', 'util', "code"], function () {
        var element = layui.element
            , $ = layui.$
            , form = layui.form;

        //提交
        form.on('submit(formDemo)', function (data) {
            var input = document.getElementById("keyword");
            var re_str = document.getElementById("re_str");
            var output = document.getElementById("output");
            output.value = "结果获取失败"
            var regex_value = re_str.value
            var regex = new RegExp(regex_value, "gm");
            var matches = input.value.match(regex);


            if (matches != null) {
                var results = [];
                var prefix = regex_value.split(".*")[0];
                var suffix = regex_value.split(".*")[1];
                for (var i = 0; i < matches.length; i++) {
                    var match = matches[i];
                    var result = match.replace(prefix, "").replace(suffix, "");
                    results.push(result);
                }
                output.value = results.join('\n')
            }

            return false;
        });



    });

    function getSelectedTextWithSurroundingNewlines() {
        var input = document.getElementById("keyword");
        var selectedText = input.value.substring(input.selectionStart, input.selectionEnd);
        var prefix = input.value.substring(0, input.selectionStart);
        var suffix = input.value.substring(input.selectionEnd);
        var prefixNewlineIndex = prefix.lastIndexOf("\n");
        var suffixNewlineIndex = suffix.indexOf("\n");
        if (prefixNewlineIndex !== -1) {
            prefix = prefix.substring(prefixNewlineIndex + 1);
        }
        if (suffixNewlineIndex !== -1) {
            suffix = suffix.substring(0, suffixNewlineIndex);
        }
        return prefix + selectedText + suffix;
    }
    function generateRegex() {
        var input = document.getElementById("keyword");
        var re_str = document.getElementById("re_str");
        var selectedText = input.value.substring(input.selectionStart, input.selectionEnd);
        var prefix = input.value.substring(0, input.selectionStart);
        var suffix = input.value.substring(input.selectionEnd);
        var prefixNewlineIndex = prefix.lastIndexOf("\n");
        var suffixNewlineIndex = suffix.indexOf("\n");
        if (prefixNewlineIndex !== -1) {
            prefix = prefix.substring(prefixNewlineIndex + 1);
        }
        if (suffixNewlineIndex !== -1) {
            suffix = suffix.substring(0, suffixNewlineIndex);
        }
        var regex = prefix + ".*" + suffix
        re_str.value = regex
    }

</script>
{% include "/public/footer.html" %}