{% include "/public/header.html" %}
<h1>{{res.h1}}</h1>
<hr class="layui-border-blue">
<form class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">文本内容</label>
            <div class="layui-input-inline" style="width: 500px;">
                <textarea name="targets" id="targets" placeholder="" class="layui-textarea" rows="10"
                    onmouseup="generateRegex()">{{res.target_document}}</textarea>
                <div class="layui-form-mid layui-word-aux">
                    建议先使用ctool的【代码格式化】工具格式化输入数据<br>
                    鼠标选择字符自动生成正则表达式
                </div>
            </div>

            <label class="layui-form-label">帮助文档</label>
            <div class="layui-input-inline" style="width: 600px;">
                <textarea name="help_document" id="help_document" placeholder="" rows="10"
                    class="layui-textarea">{{res.help_document}}</textarea>
                <div class="layui-form-mid layui-word-aux">
                    帮助文档写这儿，
                    <button type="button"
                        class="layui-btn layui-btn-primary layui-border layui-border-green  layui-btn-primary layui-btn-sm"
                        lay-submit lay-filter="save_help_document">
                        点击保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">文件内容</label>
            <div class="layui-input-block">
                <button type="button"
                    class="layui-btn  layui-btn-primary layui-border  layui-border-green demo-class-accept"
                    lay-options="{accept: 'file'}">
                    <i class="layui-icon layui-icon-upload"></i>
                    上传文件
                </button>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">输入模式</label>
        <div class="layui-input-block">
            <input type="radio" name="re_type" value="text" title="文本模式" checked>
            <input type="radio" name="re_type" value="file" title="文件模式">
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">正则表达式</label>
        <div class="layui-input-block">
            <input type="text" name="re_str" id="re_str" placeholder="" autocomplete="off" class="layui-input" value=""
                style="width: 300px;">
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
    </div>

    {% include 'public/button_group_new.html' %}
    <div class="layui-form-item ">
        <label class="layui-form-label">提取结果</label>
        <div class="layui-input-block">
            <textarea name="shell" id="shell" placeholder="" class="layui-textarea" rows="10"></textarea>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
    </div>
</form>


<script>
    layui.use(['element', 'layer', 'util', "code"], function () {
        var element = layui.element
            , $ = layui.$
            , form = layui.form;
        var upload = layui.upload;
        // 渲染
        upload.render({
            elem: '.demo-class-accept', // 绑定多个元素
            url: '/{{res.tool_name}}/upload', // 此处配置你自己的上传接口即可
            accept: 'file', // 普通文件
            done: function (res) {
                layer.msg('上传成功');
                // console.log(res);
                location.reload();

            }
        });

    });

    function getSelectedTextWithSurroundingNewlines() {
        var input = document.getElementById("targets");
        var selectedText = input.value.substring(input.selectionStart, input.selectionEnd);
        var prefix = input.value.substring(0, input.selectionStart);
        var suffix = input.value.substring(input.selectionEnd);
        var prefixNewlineIndex = prefix.lastIndexOf("\n");
        var suffixNewlineIndex = suffix.indexOf("\n");
        if (prefixNewlineIndex !== -1) {
            prefix = prefix.substring(prefixNewlineIndex + 1);
        }
        if (suffixNewlineIndex !== -1) {
            suffix = suffix.substring(0, suffixNewlineIndex);
        }
        return prefix + selectedText + suffix;
    }
    function generateRegex() {
        var input = document.getElementById("targets");
        var re_str = document.getElementById("re_str");
        var selectedText = input.value.substring(input.selectionStart, input.selectionEnd);
        var prefix = input.value.substring(0, input.selectionStart);
        var suffix = input.value.substring(input.selectionEnd);
        var prefixNewlineIndex = prefix.lastIndexOf("\n");
        var suffixNewlineIndex = suffix.indexOf("\n");
        if (prefixNewlineIndex !== -1) {
            prefix = prefix.substring(prefixNewlineIndex + 1);
        }
        if (suffixNewlineIndex !== -1) {
            suffix = suffix.substring(0, suffixNewlineIndex);
        }
        var regex = prefix + "(.*)" + suffix
        re_str.value = regex
    }

</script>
{% include "/public/footer.html" %}