<div class="layui-form-item">
    <div class="layui-input-block">
        <div class="layui-btn-container">
            {% if res['form_create'] != null %}
            <button class="layui-btn  layui-btn-primary layui-border layui-border-green" lay-submit
                lay-filter="form_create">
                生成</button>
            {% endif %}
            {% if res['form_run'] != null %}
            <button class="layui-btn  layui-btn-primary layui-border  layui-border-green" lay-submit
                lay-filter="form_run">
                运行</button>
            {% endif %}
            <!-- 打开工具路径 -->
            {% if res['dir_path'] != null %}
            <input type="text" name="dir_path" autocomplete="off" class="layui-input" style="display:none"
                value="{{ res['dir_path'] }}">
            <button class="layui-btn    layui-btn-primary " lay-submit lay-filter="form_open_tool_path">
                打开工具文件夹</button>
            {% endif %}
            <!-- 打开结果路径 -->
            {% if res['result_path'] != null %}
            <input type="text" name="result_path" autocomplete="off" class="layui-input" style="display:none"
                value="{{ res['result_path']}}">
            <button class="layui-btn    layui-btn-primary " lay-submit lay-filter="form_open_result_path">
                打开结果文件夹</button>
            {% endif %}
            <!-- 更新 -->
            {% if res['update_path'] != null %}
            <input type="text" name="update_path" autocomplete="off" class="layui-input" style="display:none"
                value="{{ res['update_path']}}">
            <button class="layui-btn    layui-btn-primary " lay-submit lay-filter="form_open_update_path">
                更新软件</button>
            {% endif %}
        </div>
    </div>
</div>
<script>
    layui.use(function () {
        var form = layui.form;
        var $ = layui.$;
        var layer = layui.layer;

        //提交_new
        form.on('submit(form_create)', function (data) {
            $.ajax({
                type: "POST",
                url: "/{{res['tool_name']}}/update",
                data: JSON.stringify(data.field),
                dataType: "json",
                beforeSend: function () {
                    layer.load(2);
                    setTimeout(function () {
                        layer.closeAll('loading');
                    }, 120000);
                },
                success: function (res) {
                    layer.closeAll('loading');
                    // console.log(res)
                    // shell = res.data.replace(";", ";\n")
                    $("#shell").val(res.data);
                    layer.msg(res.msg);
                },
                error: function (res) {
                    layer.closeAll('loading');
                    layer.msg('出现异常');
                }
            })
            return false;
        });
        // 运行_new
        form.on('submit(form_run)', function (data) {
            $.ajax({
                type: "POST",
                url: "/exec/update",
                data: JSON.stringify({ "shell": data.field['shell'] }),
                // data: { "shell": data.field['shell'] },
                dataType: "json",
                success: function (res) {
                    console.log(res);
                    layer.msg(res.msg);
                }
            })
            return false;
        });
        // 打开结果路径
        form.on('submit(form_open_result_path)', function (data) {
            $.ajax({
                type: "POST",
                url: "/exec/update",
                data: JSON.stringify({ "shell": "explorer " + data.field['result_path'] + ";exit" }),
                // data: { "shell": data.field['shell'] },
                dataType: "json",
                success: function (res) {
                    console.log(res);
                    layer.msg(res.msg);
                }
            })
            return false;
        });
        // 打开工具路径
        form.on('submit(form_open_tool_path)', function (data) {
            $.ajax({
                type: "POST",
                url: "/exec/update",
                data: JSON.stringify({ "shell": "explorer " + data.field['dir_path'] + ";exit" }),
                dataType: "json",
                success: function (res) {
                    console.log(res);
                    layer.msg(res.msg);
                }
            })
            return false;
        });
        // 更新软件
        form.on('submit(form_open_update_path)', function (data) {
            $.ajax({
                type: "POST",
                url: "/exec/update",
                data: JSON.stringify({ "shell": " " + data.field['update_path'] + ";exit" }),
                dataType: "json",
                success: function (res) {
                    console.log(res);
                    layer.msg(res.msg);
                }
            })
            return false;
        });
    });
</script>