</div>

</div>

</div>
<script>

    layui.use(function () {
        var dropdown = layui.dropdown;
        var element = layui.element;
        var layer = layui.layer;
        var $ = layui.$;
        var form = layui.form;
        var laydate = layui.laydate;
        var util = layui.util;
        ////////////////////////添加任务、查看结果 事件处理//////////////////////
        // hash 地址定位
        var hashName = 'tabid'; // hash 名称
        var layid = location.hash.replace(new RegExp('^#' + hashName + '='), ''); // 获取 lay-id 值

        // 初始切换
        element.tabChange('test-hash', decodeURI(layid));
        // 切换事件
        element.on('tab(test-hash)', function (obj) {
            location.hash = hashName + '=' + this.getAttribute('lay-id');
            window.location.reload()
        });
        ////////////////////////添加任务、查看结果 事件处理//////////////////////

        // 顶部导航栏点击事件
        element.on('nav(top_left)', function (data) {
            if (data.text() == "清理结果") {
                temp_url = "/clean/"
                msg = "清理所有扫描结果"
            } else if (data.text() == "一键日站") {
                temp_url = "/penetration/"
                msg = "一键启动[yakit,chrome]"
            } else {
                // 其他按钮直接执行,不询问
                return false
            }

            layer.confirm(msg, { icon: 3, title: '提示' }, function (index) {
                $.ajax({
                    type: "POST",
                    url: temp_url,
                    dataType: "json",
                    success: function (res) {
                        layer.msg(res.msg);
                    }
                })

                layer.close(index);
            });
        });

        //头部事件
        util.event('lay-header-event', {
            menuLeft: function (othis) { // 左侧菜单事件
                layer.msg('展开左侧菜单的操作', { icon: 0 });
            },
            menuRight: function () {  // 右侧菜单事件
                layer.open({
                    type: 1,
                    title: '醒目信息',
                    content: '<blockquote class="layui-elem-quote">开发作者:wwsuixin <br>版 本:2023年9月24日【内测】 <br>项目地址：内部测试版本 <br>法律声明：工具仅供安全研究与学习之用，若将工具做其他用途，由使用者承担全部法律及连带责任，作者及发布者不承担任何法律及连带责任。 <br> <br></blockquote>',
                    area: ['300px', '100%'],
                    offset: 'rt', // 右上角
                    anim: 'slideLeft', // 从右侧抽屉滑出
                    shadeClose: true,
                    scrollbar: false
                });
            }
        });
        // 帮助文档保存按钮
        form.on('submit(save_help_document)', function (data) {
            $.ajax({
                type: "POST",
                url: "/{{res['tool_name']}}/save",
                data: JSON.stringify(data.field),
                dataType: "json",
                success: function (res) {
                    console.log(res)
                    layer.msg(res.msg);
                }
            })
            return false;
        });
    });

</script>
</body>

</html>