<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>ws_tools-{{res.h1}}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui-theme-dark.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="{{ url_for('static', filename='layui/layui.js') }}"></script>

	<style>
		.nav-left {
			width: 200px;
			top: 60px;
			position: fixed;
			background-color: #2f363c !important;
			position: fixed;
			left: 0;
			bottom: 0;
			z-index: 999;
		}

		.layui-menu {
			background-color: #2f363c !important;
			margin: 0, 0;
		}

		.layui-panel {
			background-color: #2f363c !important;
		}

		.layui-menu-body-title {
			margin: 0;
			/* width: 160px; */
		}

		.layui-menu-body-panel {
			margin-left: 0px
		}
	</style>
</head>

<body>
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<ul class="layui-nav layui-layout-left" lay-filter="top_left" style="left:0px">

				<li class="layui-nav-item layui-hide-xs"><a href="/index/"><i class="layui-icon layui-icon-home"></i> Start_tools</a></li>
				<li class="layui-nav-item layui-hide-xs"><a href="javascript:location.reload()"><i class="layui-icon layui-icon-refresh"></i> 刷新当前页</a></li>
				<li class="layui-nav-item">
					<a href="javascript:;"><i class="layui-icon layui-icon-release"></i> 报告平台</a>
					<dl class="layui-nav-child">
						<dd><a href="/report/add" target="_blank">添加漏洞</a></dd>
						<dd><a href="/report/vul_list" target="_blank">漏洞描述</a></dd>
						<dd><a href="/report/list" target="_blank">漏洞管理</a></dd>
					</dl>
				</li>
			</ul>
			<ul class="layui-nav layui-layout-right">
				<!-- <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
					<a href="javascript:;">
						<img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
						wwsuixin
					</a>
					<dl class="layui-nav-child">
						<dd><a href="javascript:;">Your Profile</a></dd>
						<dd><a href="javascript:;">Settings</a></dd>
						<dd><a href="javascript:;">Sign out</a></dd>
					</dl>
				</li> -->
				<li class="layui-nav-item layui-hide-xs"><a href="/update/"><i class="layui-icon layui-icon-refresh"></i>  检查更新</a></li>

				<li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
					<a href="javascript:;">
						<i class="layui-icon  layui-icon-github"></i>  项目信息
					</a>
				</li>
			</ul>
		</div>

		<div style="padding: 15px;margin-top: 50px;" id="contentArea"
			style="background-image: url('/static/images/black_main.png');">