<script>
    layui.use(function () {
        var layer = layui.layer;
        layer.alert('在标题栏显示自动关闭倒计秒数', {
            time: 5 * 1000,
            success: function (layero, index) {
                var timeNum = this.time / 1000, setText = function (start) {
                    layer.title('<span class="layui-font-red">' + (start ? timeNum : --timeNum) + '</span> 秒后自动关闭', index);
                };
                setText(!0);
                this.timer = setInterval(setText, 1000);
                if (timeNum <= 0) clearInterval(this.timer);
            },
            end: function () {
                clearInterval(this.timer);
            }
        });
    })
</script>